.profile {
  padding-right: 10px;
}

profile h2 {
  font-size: 0.9rem;
}
.profile h3 {
  font-size: 0.7rem;
  margin-bottom: 1.5rem;
}

.profile img {
  height: 50px;
}

.profile p {
  font-size: 0.8rem;
  font-style: italic;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.profile ul[role='list'] {
  display: inline-block;
  margin: 0;
  padding-left: 0;
}

.profile ul[role='list'] > li {
  display: inline-block;
}

.profile li img {
  height: 24px;
  margin-right: 10px;
}
